@import url("https://fonts.googleapis.com/css2?family=Hubballi&family=Poppins:wght@500&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

header {
    background-color: #151515;
    position: fixed;
    z-index: 21;
    width: 100vw;
}

ul {
    display: flex;
    padding: 20px;
    justify-content: flex-end;
}

li {
    list-style: none;
    margin-right: 27px;
}

a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

.logo {
    top: 20px;
    display: flex;
    position: absolute;
    left: 20px;
    color: #fff;
}

.container {
    align-items: center;
    padding: 150px;
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-color: #151515;
    color: white;
}

.pic {
    border-radius: 49%;
}

.pic2 {
    margin-right: 10px;
    border-radius: 49%;
}

.container2 {
    display: flex;
    color: white;
}

.left {
    height: 100vh;
    width: 50vw;
    padding: 50px;
    background-color: #151515;
}

.right {
    height: 100vh;
    width: 50vw;
    background-color: #151515;
}

.social {
    display: flex;
}

.footerheading {
    margin-bottom: 50px;
    margin-top: 50px;
}

.footerpara {
    margin-bottom: 50px;
    margin-top: 50px;
}

.contact {
    padding: 80px;
    height: 100vh;
    width: 100vw;
    align-items: center;
    text-align: center;
    color: #fff;
    background-color: #151515;
}

.cantactquestions {
    margin-top: 20px;
    margin-bottom: 70px;
}

.cantactpara {
    margin-bottom: 10px;
}

.cantactid1 {
    margin-bottom: 70px;
    color: red;
}

.cantactid2 {
    color: red;
}

.about {
    padding: 100px;
    height: 100vh;
    width: 100vw;
    align-items: center;
    text-align: center;
    color: #fff;
    background-color: #151515;
}

.aboutpara {
    margin-top: 30px;
}

.aboutname {
    margin: 30px;
}

.aboutheading {
    margin-bottom: 30px;
}

.contactlist {
    margin: 20px;
}

.contactcontent {
    padding: 20px;
}

.skill {
    padding: 150px 10px;
    color: #fff;
    background-color: #151515;
    width: 100vw;
    text-align: center;
    align-items: center;
}

.scontainer {
    margin-top: 10px;
    display: flex;
    align-items: center;
    padding: 70px;
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-color: #151515;
    color: white;
}

.sleft {
    height: 100vh;
    width: 50vw;
    padding: 50px;
    background-color: #151515;
}

.sright {
    height: 100vh;
    width: 50vw;
    background-color: #151515;
}

.skillheading {
    margin-top: 50px;
}

.skillpara {
    margin: 20px;
}